---
all:
  vars:
    ansible_user: ubuntu
    ansible_ssh_private_key_file: ~/.ssh/id_ed25519_homelab_nodes
  children:
    gitlab_runners:
      children:
        docker_nodes:
          hosts:
            runner-build:
              ansible_host: 10.0.1.50  # Oder Tailscale IP nach Provisioning
            runner-ci:
              ansible_host: 10.0.1.51
